{% block info %}
<div class="module module-narrow module-shallow context-info">
  <h2 class="module-heading"><i class="fa fa-sitemap"></i> Sample Family</h2>
  <div data-module="jstree-view-module" data-id="{{ pkg.id }}" data-title="{{ pkg.title }}">
    <div id="tree"></div>
  </div>
</div>
{% endblock %}

<style>
  .tree-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 24px);
    vertical-align: middle;
    box-sizing: border-box;
  }

  .jstree-wholerow-ul {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
  }

  .jstree-ocl::before {
    content: "\f0da";
    font-family: "FontAwesome";
    font-weight: 900;
    font-style: normal;
  }

  .jstree-open > .jstree-ocl::before {
    content: "\f0d7";
    font-family: "FontAwesome";
    font-weight: 900;
    font-style: normal;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
</style>