{% extends "contact/snippets/form.html" %}

{% block contact_form_legend_content %}
{% endblock %}

{% block contact_form_fields %}
    <input type="hidden" name="subject" value="Collection Access"> 

    {{ form.input('name', label=_('Collection Contact Name'), id='field-name', value=data.name,
                    error=errors.name, classes=['control-medium'], is_required=true) }}

    {{ form.input('email', label=_('Email test'), id='field-email', type='email',
                    value=data.email, error=errors.email, classes=['control-medium'],
                    is_required=true) }}    

    <input type="hidden" name="collection_id" value="{{ data.collection_id }}"> 

    <input type="hidden" name="collection_name" value="{{ data.collection_name }}"> 

    {{ form.textarea('content', label=_('Description'), id='field-content',
                        value=data.content, error=errors.content,
                        placeholder=_('Brief description?'), is_required=true) }}

{% endblock %}
