{% extends "contact/snippets/form.html" %}

{% block contact_form_legend_content %}
{% endblock %}

{% block contact_form_fields %}
    <input type="hidden" name="subject" value="Collection Creation"> 

    {{ form.input('name', label=_('Collection Contact Name'), id='field-name', value=data.name,
                    error=errors.name, classes=['control-medium'], is_required=true) }}

    {{ form.input('email', label=_('Collection Contact Email'), id='field-email', type='email',
                    value=data.email, error=errors.email, classes=['control-medium'],
                    is_required=true) }}    

    {{ form.input('collection_full_name', label=_('Full Name of the Collection'), id='field-collection_full_name',
                value=data.collection_full_name, error=errors.collection_full_name, classes=['control-medium'],
                is_required=true) }}

    {{ form.input('collection_short_name', label=_('Short Name of the Collection'), id='field-collection_short_name',
                value=data.collection_short_name, error=errors.collection_short_name, classes=['control-medium'],
                is_required=true) }}

    {{ form.textarea('content', label=_('Description'), id='field-content',
                        value=data.content, error=errors.content,
                        placeholder=_('Brief description?'), is_required=true) }}


{% endblock %}