<!-- Include necessary CSS and JS for Leaflet and Leaflet Draw -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Map Container (initially hidden) -->
<div class="dataset-map" >
  <div id="map-container" style="height: 400px; display: none;" ></div>
</div>

<!-- Single Point Coordinates (initially hidden) -->
<div id="single-point-coordinates" style="display: none;">
    <!-- Latitude -->
    <div class="form-group">
        <label for="point_latitude">Latitude</label>
        <input type="text" class="form-control" id="point_latitude" name="point_latitude" readonly>
    </div>
    <!-- Longitude -->
    <div class="form-group">
        <label for="point_longitude">Longitude</label>
        <input type="text" class="form-control" id="point_longitude" name="point_longitude" readonly>
    </div>
</div>

<!-- Bounding Box Coordinates (initially hidden) -->
<div id="bounding-box-coordinates" style="display: none;">
    <div class="form-group" >
        <label for="field-bounding_box">Bounding Box</label>
        <input type="text" class="form-control" id="field-bounding_box" name="bounding_box" placeholder="Min Latitude, Min Longitude, Max Latitude, Max Longitude" readonly>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        // Map Initialization
        var map = L.map('map-container').setView([-31.9505, 115.8605], 3);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var marker = L.marker([-31.9505, 115.8605], {draggable: true});
        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            draw: {
                polygon: false,
                marker: false,
                circlemarker: false,
                circle: false,
                polyline: false,
                rectangle: true
            },
            edit: {
                featureGroup: drawnItems,
                edit: false,
                remove: true
            }
        });

        function updateLatLngFields(lat, lng) {
            $('#point_latitude').val(lat);
            $('#point_longitude').val(lng);
        }
        function resetMap() {
            drawnItems.clearLayers();
            map.removeLayer(drawnItems);
            map.off('click');
            map.removeControl(drawControl);
            map.removeLayer(marker);
        }
        function showMapAndInvalidate() {
            $('#map-container').show();
            setTimeout(function() { map.invalidateSize(); }, 100);
        }
        function initializeDrawControl() {
            map.addLayer(drawnItems);
            map.addControl(drawControl);
            new L.Draw.Rectangle(map, drawControl.options.draw.rectangle).enable();
        }

        // Initialize map for bounding box as default
        showMapAndInvalidate();
        initializeDrawControl();
        $('#bounding-box-coordinates').show();

        map.on(L.Draw.Event.CREATED, function(event) {
            var layer = event.layer;
            drawnItems.addLayer(layer);
            var bounds = layer.getBounds();
            $('#field-bounding_box').val(bounds.getSouthWest().lat + ', ' + bounds.getSouthWest().lng + ', ' + bounds.getNorthEast().lat + ', ' + bounds.getNorthEast().lng);
        });

        // Change event for location choice radio buttons
        $('input[type=radio][name=location_choice]').change(function() {
            resetMap();
            var choice = $(this).val();

            $('#single-point-coordinates').hide();
            $('#bounding-box-coordinates').hide();
            $('#map-container').hide();
            updateLatLngFields(null, null);
            $('#field-bounding_box').val('');

            switch (choice) {
                case 'area':
                    showMapAndInvalidate();
                    initializeDrawControl();
                    $('#bounding-box-coordinates').show();
                    break;
                case 'point':
                    showMapAndInvalidate();
                    map.on('click', function(e) {
                        marker.setLatLng(e.latlng);
                        updateLatLngFields(e.latlng.lat, e.latlng.lng);

                        if (!map.hasLayer(marker)) {
                            marker.addTo(map);
                        }
                    });
                    $('#single-point-coordinates').show();
                    break;
            }
        });
    });
</script>