<!-- Include necessary CSS and JS for Leaflet and Leaflet Draw -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Map Container (initially hidden) -->
<div class="dataset-map" >
  <div id="map-container" style="height: 400px; display: none;" ></div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // Map Initialization
        var map = L.map('map-container').setView([-31.9505, 115.8605], 3);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var marker = null;
        var rectangleDrawer;
        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            draw: {
                polygon: false,
                marker: false,
                circlemarker: false,
                circle: false,
                polyline: false,
                rectangle: true
            },
            edit: {
                featureGroup: drawnItems,
                edit: false,
                remove: true
            }
        });

        function debounce(func, wait) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                clearTimeout(timeout);
                timeout = setTimeout(function() {
                    func.apply(context, args);
                }, wait);
            };
        }        

        function validatePointCoordinates(lat, lng) {
            return !isNaN(lat) && !isNaN(lng) && lat >= -90 && lat <= 90 && lng >= -180 && lng <= 180;
        }

        function validateBoundingBoxCoordinates(bboxString) {
            if (bboxString.length !== 4 || !bboxString.every(n => !isNaN(n))) {
                return false;
            }
            var [minLat, minLng, maxLat, maxLng] = bboxString;
            return minLat >= -90 && minLat <= 90 && maxLat >= -90 && maxLat <= 90 &&
                minLng >= -180 && minLng <= 180 && maxLng >= -180 && maxLng <= 180 &&
                minLat < maxLat && minLng < maxLng;
        }

        function updateLatLngFields(lat, lng) {
            $('#field-point_latitude').val(lat);
            $('#field-point_longitude').val(lng);
        }
        
        function updateBboxField(bboxString) {
            $('#field-bounding_box').val(bboxString);
        }

        function resetMap() {
            drawnItems.clearLayers();
            map.removeLayer(drawnItems);
            map.off('click');
            map.removeControl(drawControl);
            if(marker){
                map.removeLayer(marker);
                marker = null;
            }

            $('#point_latitude_container').hide();
            $('#point_longitude_container').hide();
            $('#bounding_box_coordinates').hide();
            $('#map-container').hide();
        }
        
        function showMapAndInvalidate() {
            $('#map-container').show();
            setTimeout(function() { map.invalidateSize(); }, 100);
        }
        
        function initializeDrawControl() {
            map.addLayer(drawnItems);
            map.addControl(drawControl);
            if (!rectangleDrawer) {
                rectangleDrawer = new L.Draw.Rectangle(map, drawControl.options.draw.rectangle);
            }            
            rectangleDrawer.enable();
        }

        function reinitializeMarker() {
            if (rectangleDrawer) {
                rectangleDrawer.disable();
            }
        }

        function addMarker(){
            map.on('click', function(e) {
                if (!marker) {
                    marker = L.marker(e.latlng, { draggable: true }).addTo(map);
                } else {
                    marker.setLatLng(e.latlng);
                }
                updateLatLngFields(e.latlng.lat, e.latlng.lng); 
            });
        }
        function updateMarkerPosition(checkValidity=true) {
            var lat = parseFloat($('#field-point_latitude').val());
            var lng = parseFloat($('#field-point_longitude').val());
            if (validatePointCoordinates(lat, lng)) {
                var newLatLng = new L.LatLng(lat, lng);
                marker.setLatLng(newLatLng);
                map.panTo(newLatLng);
            } else if (checkValidity && !validatePointCoordinates(lat, lng)) {
                alert("Invalid point coordinates. Latitude must be between -90 and 90, Longitude between -180 and 180.");
            }        
        }

        function updateRectangleBounds(checkValidity=true) {
            var bboxString = $('#field-bounding_box').val().split(',').map(Number);
            if (validateBoundingBoxCoordinates(bboxString)) {
                var southWest = L.latLng(bboxString[0], bboxString[1]);
                var northEast = L.latLng(bboxString[2], bboxString[3]);
                var bounds = L.latLngBounds(southWest, northEast);
                drawnItems.clearLayers();
                L.rectangle(bounds).addTo(drawnItems);
            } else if (checkValidity && !validateBoundingBoxCoordinates(bboxString)){
                alert("Invalid bounding box coordinates. Please enter valid latitudes and longitudes.");
            }        
        }

          // Debounced functions
        var debouncedUpdateMarkerPosition = debounce(updateMarkerPosition, 500); // 500 ms delay
        var debouncedUpdateRectangleBounds = debounce(updateRectangleBounds, 500); // 500 ms delay

        // Event listeners for the coordinate input fields with debounce
        $('#field-point_latitude, #field-point_longitude').on('input', debouncedUpdateMarkerPosition);
        $('#field-bounding_box').on('input', debouncedUpdateRectangleBounds);


        resetMap();
        showMapAndInvalidate();
        // Restore state
        var selected = $('input[type=radio][name=location_choice]:checked').val();
        if(selected=='area')
        {
            initializeDrawControl();
            map.on(L.Draw.Event.CREATED, function(event) {
                var layer = event.layer;
                drawnItems.clearLayers();
                drawnItems.addLayer(layer);
                var bounds = layer.getBounds();
                updateBboxField(bounds.getSouthWest().lat + ', ' + bounds.getSouthWest().lng + ', ' + bounds.getNorthEast().lat + ', ' + bounds.getNorthEast().lng);
            });
            updateRectangleBounds(false);
            $('#bounding_box_coordinates').show();
        }else{
            reinitializeMarker();
            addMarker();
            updateMarkerPosition(false);
            $('#point_latitude_container').show();
            $('#point_longitude_container').show();
        }

            // Adjusted for 'point' option handling
        $('input[type=radio][name=location_choice]').change(function() {
            resetMap();
            updateLatLngFields('', '');
            updateBboxField('');
            var choice = $(this).val();
            switch (choice) {
                case 'area':
                    showMapAndInvalidate();
                    initializeDrawControl();
                    $('#bounding_box_coordinates').show();
                    break;
                case 'point':
                    showMapAndInvalidate();
                    reinitializeMarker();
                    $('#point_latitude_container').show();
                    $('#point_longitude_container').show();
                    addMarker()
                    break;
            }
        });
    });
</script>