{% ckan_extends %}
 
{% block facet_list %}
    {% set hide_empty = hide_empty or false %}
    {% with items = items or h.get_facet_items_dict(name, search_facets) %}
    {% if items or not hide_empty %}
        {% if name not in ['groups' , 'license_id', 'res_format'] %}
            {% block facet_list_item %}
            <section class="module module-narrow module-shallow">
                {% block facet_list_heading %}
                <h2 class="module-heading">
                    <i class="fa fa-filter"></i>
                    {% if name == 'tags' %}
                        Keywords
                    {% else %}
                        {{ title }} 
                    {% endif %}
                </h2>
                {% endblock %}

                {% block facet_list_items %}
                    {{ super() }}
                {% endblock %}

            </section>
            {% endblock %}
        {% endif %}
    {% endif %}
    {% endwith %}
{% endblock %}