{% ckan_extends %}

{% block info %}
  <div class="module module-narrow module-shallow context-info">
    {% if has_context_title %}
      <h2 class="module-heading"><i class="fa fa-building"></i> {{ h.humanize_entity_type('organization', organization.type, 'sidebar label') or _('Organization') }}</h2>
    {% endif %}
    <section class="module-content">
      {% block inner %}
        {% block image %}        
        {% endblock %}

        {% block heading %}
          <h1 class="heading" style="font-weight: bold;">{{organization.title or organization.name }}
            {% if organization.state == 'deleted' %}
              [{{ _('Deleted') }}]
            {% endif %}
          </h1>
        {% endblock %}     

        {% block description %}
        {% endblock %}    

      {% endblock %}
    </section>
  </div>
  {% endblock %}