{% set parent_id = package.parent %}


<tr>
    <td><a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}">
        {{package.title|truncate(80)}}
      </a></td>
    <td><a href="/organization/{{ package.organization.name }}">{{ package.organization.title }}</a></td>
    <td>{{ package.num_resources }}</td>
    <td>{% for tag in package.tags %}
          <span class="badge">{{ tag.name }}</span>{% endfor %}
    </td>
    <td>{{ package.notes|truncate(80) }}</td>
    <td>
    {% if parent_id %}
        {% set pkg = h.get_package(parent_id) %}  {# Attempt to fetch the package details by ID #}

        {% if pkg %}
            {% set pkg_link = h.url_for('dataset.read', id=parent_id) %}
            <a href="{{ pkg_link }}">{{ pkg.title }}</a>
        {% else %}
            <span>No valid parent found</span>
        {% endif %}
    {% else %}
        <span>----</span>
    {% endif %}
    </td>
    <!-- <td>{{ package.parent|default('----', true) }}</td> -->
    <!-- <td>{{ package.metadata_modified }}</td> -->
  </tr>
