{% extends "batch/base.html" %}

{% set org_id = group %}

{% block primary_content %}
<section class="module">
  {% block page_header %}{% endblock %}
  <div class="module-content">
    {% block primary_content_inner %}
    {% block form %}
    {% snippet "batch/create_batch_dataset.html", organization=org , preview_data = preview_data , file_name=file_name
    %}
    {% endblock %}
    {% endblock %}
  </div>
</section>
{% endblock %}

{% block secondary_content %}

{% block package_organization %}
{% if org_id %}
{% set org = h.get_organization(org_id) %}
{% snippet "snippets/organization.html", organization=org, has_context_title=true %}
{% endif %}
{% endblock %}

{% block info_module %}
<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What are batch datasets?') }}</h2>
  <div class="module-content">
    <p>
      {% trans %}
      The Batch Dataset Upload feature allows for the efficient upload of multiple datasets at once, streamlining the
      process of data sharing.
      {% endtrans %}
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>
{% endblock %}
{% block resources_module %}
{% endblock %}
{% endblock %}