{% ckan_extends %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'),  id=pkg.name, icon='sitemap') }}
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_organization %}
    {{ super() }}
  {% endblock %}

  {% block sample_family_info %}
    {% snippet 'package/snippets/sample_family_info.html', pkg=pkg, am_following=am_following %}
  {% endblock %}

{% endblock %}

  {% block structured_data %}
    {#
    h.structured_data is defined in the 'structured_data' plugin,
    you have to activate the plugin (or implement the method yourself)
    to make use of this feature.
    More information about structured data:
    https://developers.google.com/search/docs/guides/intro-structured-data
    #}
      {% if h.helper_available('structured_data') %}
          <script type="application/ld+json">
           {{ h.custom_structured_data(pkg.id)|safe }}
          </script>
      {% endif %}
  {% endblock %}