{% set label_dict = h.composite_get_label_dict(field.subfields) %}
{% set choices_dict = h.composite_get_choices_dict(field.subfields) %}
{% set name_list = h.composite_get_name_list(field.subfields) %}
{% set form_blanks = field.form_blanks if field.form_blanks is defined else 1 %}
{% set composite_dict_list = h.composite_repeating_get_value_dict_list(field.field_name, field.subfields, data, form_blanks, False) %}

<ul>
 {% for composite_dict in composite_dict_list %}
   <li>
     {% set first_key_written = false %}
     {% for key in name_list %}
       {% set subfield = field.subfields | selectattr('field_name', 'equalto', key) | list | first %}
       {% if subfield.display_snippet is not none and subfield.display_snippet != "None"and composite_dict[key]|length > 0 %}
         {% set value = "" %}
         {% if choices_dict[key]|length > 0 %}
           {% if h.composite_is_list(composite_dict[key]) %}
             {%- set labels = [] -%}
             {% for item in composite_dict[key] %}
               {%- do labels.append(h.scheming_choices_label(choices_dict[key], item)) -%}
             {% endfor %}
             {% set value = labels | join(', ') %}
           {% else %}
             {% set value = h.scheming_choices_label(choices_dict[key], composite_dict[key]) %}
           {% endif %}
         {% else %}
           {% set value = composite_dict[key] %}
         {% endif %}

         <div>
           {% if first_key_written %}
             <br>
           {% endif %}
           <b>{{ label_dict[key] }}:</b> 
           {% if subfield.display_snippet is not none and subfield.display_snippet == "URL" %}
              {{ h.link_to(value, value, target='_blank') }}
           {% elif h.composite_is_mail(value|string) %}
              {{ h.mail_to(email_address=value, name=value) }}
           {% else %}
             {{ value }}
           {% endif %}
           {% set first_key_written = true %}
         </div>
       {% endif %}
     {% endfor %}
   </li>
 {% endfor %}
</ul>
