{% extends "page.html" %}

{% block subtitle %}{{ _('Data Deposit Declaration') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Declaration'), named_route='auscope_theme.declaration' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
        <h1 class="page-heading">{{ _('Data Deposit Declaration') }}</h1>
        {% trans %}
        By depositing the dataset into the AuScope Data Repository (hereinafter referred to as ‘the Repository’), I, as the representative of the dataset author(s), confirm that I:
        {% endtrans %}
        <ul>
          <li>{% trans %}have read the AuScope Data Submission Guidelines and have prepared the dataset into the Repository in compliance with the guidelines.{% endtrans %}</li>
          <li>{% trans %}will provide any information the Repository needs to finalise and publish the dataset.{% endtrans %}</li>
          <li>{% trans %}grant the Repository the right to publish the dataset under the most appropriate open license for its maximum reuse and sharing unless there are circumstances around data that require a restrictive license, which will be granted at the discretion of the Repository.{% endtrans %}</li>
          <li>{% trans %}the dataset (in its current form) has not been previously published elsewhere unless appropriate permissions have been obtained to republish it.{% endtrans %}</li>
          <li>{% trans %}give the Repository the sole and absolute discretion to share the data author information (such as name, email, organisation, and funding information), the dataset, its metadata, and derivatives with other parties to administer access to data and enable collaboration, reporting, and feedback.{% endtrans %}</li>
          <li>{% trans %}take full responsibility for its content, authenticity, completeness, accuracy and currency. The Repository will support the long-term persistence and preservation of the dataset in its published form but does not guarantee its quality. The Repository is not liable for any inaccuracies, omissions or errors arising from or connected to using the dataset.{% endtrans %}</li>
          <li>{% trans %}To notify the Repository of any inaccurate information about the dataset, necessary updates required after publication, including new releases, or any misuse of it and the user account at{% endtrans %} <a href="mailto:help@data.auscope.org.au">help@data.auscope.org.au</a>.</li>
        </ul>
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
