<div class="form-group" id="fields_of_research">
    <label class="form-label" for="field-fields_of_research"><span title="This field is required" class="control-required">*</span> Fields of Research</label>
    <select data-module="for-fields-handler-module" data-module-selected-values="{{data['fields_of_research']}}" value="{{data['fields_of_research']}}" class="form-control" id="field-fields_of_research" name="fields_of_research" multiple >
    </select>
    {% if errors['fields_of_research'] %}
        {% for error in errors['fields_of_research'] %}
            <span class="error-block">{{ error }}</span>
        {% endfor %}
    {% endif %}
    <div class="info-block ">
        <i class="fa fa-info-circle"></i>
            The area(s) of study relevant to the dataset based on the ANZSRC Fields of Research (FoR) 2020
    </div>
</div>

<div class="form-group" id="fields_of_research_code"  style="display: none;">
    <label class="form-label" for="field-fields_of_research_code"><span title="This field is required" class="control-required">*</span> Fields of Research Code</label>
    <input type="text" class="form-control" id="field-fields_of_research_code" name="fields_of_research_code" value="{{data['fields_of_research_code']}}" >
    {% if errors['fields_of_research_code'] %}
        {% for error in errors['fields_of_research_code'] %}
            <span class="error-block">{{ error }}</span>
        {% endfor %}
    {% endif %}
    <div class="info-block ">
        <i class="fa fa-info-circle"></i>
         The classification code used for the subject term in ANZSRC Fields of Research (FoR) 2020
    </div>
</div>
