<div data-module="gcmd-fields-handler-module" class="form-group" id="gcmd_keywords_code">
    <label class="form-label" for="field-gcmd_keywords_code"><span title="This field is required"
            class="control-required">*</span> GCMD Science Keywords</label>
    <input class="form-control gcmd-keywords" id="field-gcmd_keywords_code" name="gcmd_keywords_code"
        value="{{data['gcmd_keywords_code']}}" multiple>
    {% if errors['gcmd_keywords_code'] %}
    {% for error in errors['gcmd_keywords_code'] %}
    <span class="error-block">{{ error }}</span>
    {% endfor %}
    {% endif %}
    <div class="info-block ">
        <i class="fa fa-info-circle"></i>
        Global Change Master Directory (GCMD) science keywords
    </div>
</div>

