<div class="form-group" id="locality">
    <label class="form-label" for="field-locality">Locality</label>
    <select data-module="gcmd-fields-handler-module" data-module-selected-values="{{data['locality']}}" value="{{data['locality']}}" class="form-control" id="field-locality" name="locality" multiple >
    </select>
    {% if errors['locality'] %}
        {% for error in errors['locality'] %}
            <span class="error-block">{{ error }}</span>
        {% endfor %}
    {% endif %}
    <div class="info-block ">
        <i class="fa fa-info-circle"></i>
            The locality or named place where a particular rock type, stratigraphic unit or mineral species is defined from
    </div>
</div>
