
{% import 'macros/form.html' as form %}

{% set dataset_type = dataset_type or 'dataset' %}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
{%- set elevation = h.scheming_field_by_name(schema.dataset_fields , 'elevation') -%}
{%- set epsg = h.scheming_field_by_name(schema.dataset_fields , 'epsg_code') -%}

<div class="form-group" id="location_data_coordinates" style="display: none;">
    <label for="field-location_data">Location data</label>
    <input type="text" class="form-control" id="field-location_data" name="location_data" value="{{ (data['location_data'] or {}) | tojson | safe }}">
    {% if errors['location_data'] %}
        {% for error in errors['location_data'] %}
            <span class="error-block">{{ error }}</span>
        {% endfor %}
    {% endif %}
</div>


{% if errors['location_data'] %}
    {% for error in errors['location_data'] %}
        <span class="error-block">{{ error }}</span>
    {% endfor %}
{% endif %}

<div id="bounding_box_coordinates" style="display: none;">
    <div id="bounds-table-container">
        <table class="table schema-table">
            <thead>
                <tr>
                    <th>Min Longitude</th>
                    <th>Min Latitude</th>
                    <th>Max Longitude</th>
                    <th>Max Latitude</th>
                </tr>
            </thead>
            <tbody id="bounds-table-body">
                <!-- Rows will be added here dynamically -->
            </tbody>
        </table>
    </div>
</div>

<div  id="point_container" style="display: none;">
    <div id="points-table-container">
        <table class="table schema-table">
            <thead>
                <tr>
                    <th>Longitude</th>
                    <th>Latitude</th>
                </tr>
            </thead>
            <tbody id="points-table-body">
                <!-- Rows will be added here dynamically -->
            </tbody>
        </table>
    </div>
    <div class="form-group" id="elevation_container">
        <label for="field-elevation">Elevation</label>
        <input type="number" class="form-control" id="field-elevation" name="elevation" value="{{data['elevation']}}" >
        {% if errors['elevation'] %}
            {% for error in errors['elevation'] %}
                <span class="error-block">{{ error }}</span>
            {% endfor %}
        {% endif %}

        {%- snippet 'scheming/form_snippets/help_text.html', field=elevation -%}

    </div>    
</div>

<div class="form-group" id="epsg_code_container" style="display: none;">
    <label for="field-epsg_code">Geographic Coordinate System</label>
    <input class="form-control" id="field-epsg_code" name="epsg_code"  value="{{data['epsg_code']}}" >
    </input>
    {% if errors['epsg_code'] %}
        {% for error in errors['epsg_code'] %}
            <span class="error-block">{{ error }}</span>
        {% endfor %}
    {% endif %}
    
    {%- snippet 'scheming/form_snippets/help_text.html', field=epsg -%}

</div>