
.stages {
  margin: 0;
  list-style: none;
  color: #aeaeae;
  counter-reset: none;
  overflow: hidden;
  margin-bottom: 1.5rem;
  padding: 0;
}

.stages::after {
  display: block;
  clear: both;
  content: "";
}

.stages li::before {
  display: block;
  clear: both;
  content: "";

}
.stages li {
  line-height: 27px;
  counter-increment: none;
  width: 100%; 
  background-color: transparent;
  float: left;
  padding: 10px 20px;
  position: relative;
  z-index: 0;
}

