{% ckan_extends %}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private badge badge-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}

    {% block package_cite %}
      {% if pkg.citation %}
        <h2>{{ _('Cite this as') }}</h2>
        <div class="citation embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'citation')) }}
        </div>
      {% endif %}
    {% endblock %}

   
  {% endblock %}