{% ckan_extends %}

{% block header_account_notlogged %}
<li>{% link_for _('Log in (AAF)'), named_route='oidc_pkce.login' %}</li>
<li>
    <a href="#" role="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#aafLoginModal">
        Don't have AAF?
    </a>
</li>
<li>{% link_for _('Log in'), named_route='user.login' %}</li>
{% if h.check_access('user_create') %}
{% endif %}

<div class="modal fade" id="aafLoginModal" tabindex="-1" aria-labelledby="aafLoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aafLoginModalLabel">Request Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Don’t have an AAF account yet? Please contact us to set up an account.
            </div>
            <div class="modal-footer">
                <a href="mailto:auscope.doi@csiro.au?subject=AuScope%20Data%20Repository%20-%20Request%20Account"
                    class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block header_site_navigation_tabs %}
{{ h.build_nav_main(
(dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset",
"resource"]),
('home.about', _('About')) ) }}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ _('Help') }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">{{ _('User Manual') }}</a></li>
        <li><a href="#">{{ _('Data Deposit Guidelines') }}</a></li>
    </ul>
</li>
{% endblock %}

<a class="btn btn-primary" data-module="modal-contact" data-module-template="" href="" title="">
    <i class="fas fa-envelope"></i>
</a>
