{% trans %}

<p> The AuScope Virtual Research Environment (AVRE) is an AuScope program that focuses on delivering data, services, and tools to support the future research of the Australian geoscience research community. AVRE provides a rich ecosystem of Findable, Accessible, Interoperable and Reusable (FAIR) data and tools to a diverse range of Australian research organisations, government geological surveys and the international community. The AVRE program has contributed to the development and spearheaded the adoption of the International Generic Sample Numbers (IGSN) system in Australia in collaboration with the IGSN e.V. Organisation, DataCite, and the Australian Research Data Commons (ARDC).</p>
<p>
The AuScope Sample Repository aims to offer a digital repository for the AuScope community to register persistent identifiers for specimen data and publish specimen metadata following the
<a href="https://www.go-fair.org/fair-principles/" class="custom-link" target="_blank"> FAIR Data Guiding Principles.</a>
The AuScope communities comprise NCRIS-funded data projects and Australian geoscience research communities. The AuScope Sample Repository is operated as a self-service facility for the storage, dissemination, and publication of metadata from AuScope-funded projects and instruments.
</p>
{% endtrans %}

<style>
 
  .custom-link {
    color: var(--color-aus-royal-blue);
    text-decoration: none;
    font-weight: bold;
  }

  .custom-link:hover {
    text-decoration: underline;
    color: var(--color-aus-royal-blue);
    font-weight: bold;
  }
</style>