{% set intro = g.site_intro_text %}

<div class="module-promotion card box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Quick Start") }}</h1>      
      <p>To register your samples with a new collection in the repository:</p>
      <ol>
        <li>Log in via (AAF)</li>
        <li><a href="{{ h.url_for('igsn_theme.request_new_collection') }}" class="custom-link">Submit a request</a> to create a sample collection</li>
        <li>You will be notified via email after the collection is created</li>
        <li>Select your <a href="{{ h.url_for('organization.index') }}" class="custom-link">collection</a> and choose:
          <ul>
            <li><span class="badge">Add Sample</span>(register individual samples via the online form)</li>
            <li>
                <span class="badge">Start Batch Upload</span>
                (register multiple samples by uploading a 
                <a href="/base/files/auscope-sample-template.xlsx" class="custom-link">spreadsheet</a>
                )
            </li>          
          </ul>
        </li>
      </ol>
      
      <p>To register your samples with an existing collection in the repository:</p>
      <ol>
        <li>Log in via (AAF)</li>
        <li>Select your <a href="{{ h.url_for('organization.index') }}" class="custom-link">collection-of-interest</a></li>
        <li>Click 
          <ul>
            <li><span class="badge">Add Sample</span>(register individual samples via the online form)</li>
            <li>
                <span class="badge">Start Batch Upload</span>
                (register multiple samples by uploading a 
                <a href="/base/files/auscope-sample-template.xlsx" class="custom-link">spreadsheet</a>
                )
            </li>   
          </ul>
        </li>
      </ol>
    {% endif %}
  </div>
</div>

<style>
  .badge {
    display: inline-block;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: var(--color-aus-royal-blue);
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .custom-link {
    color: var(--color-aus-royal-blue);
    text-decoration: none;
    font-weight: bold;
  }

  .custom-link:hover {
    text-decoration: underline;
  }
</style>
