{% set intro = g.site_intro_text %}

<div class="module-promotion card box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to AuScope Data Repository") }}</h1>
      <p>
        {% trans %} The AuScope Sample Repository provides a trusted digital repository for publishing specimen metadata from AuScope communities following the FAIR Data Guiding Principles and simplifying the issuing of globally unique persistent identifiers (IGSN) for specimens. Sample metadata and links to related datasets are available openly through this repository with appropriate attributions to promote open science.
        {% endtrans %}
      </p>
      <p>
        {% trans %} The repository is essential for geoscience research innovation in support of the AuScope 5-Year Investment Plan and Australian Academy of Science Decadal plan for Australian Geoscience: Our Planet, Australia's Future.
        {% endtrans %}
        <br>
        </p>
      </p>
    {% endif %}
  </div>
  <style>
    .cropped-image {
      object-fit: cover;
      max-height: 350px; 
    }
  </style>
  {% block home_image %}
      <section class="featured media-overlay hidden-xs">
        <h2 class="media-heading">{% block home_image_caption %}{{ _("Characterisation image of natural mineral iron-oxide nodules") }}{% endblock %}</h2>
        {% block home_image_content %}
          <div class="media-image-wrapper">
            <a class="media-image" href="#">
              <img class="img-fluid cropped-image" 
                  src="{{ h.url_for_static('/base/images/RS6242_Maia 63244_corrected_balfeti.jpg') }}" 
                  alt="Placeholder" />
            </a>
            <div class="image-caption">
              Characterisation image of natural mineral iron-oxide nodules. Taken with CSIRO-developed Maia x-ray imaging.
            </div>
          </div>
        {% endblock %}
      </section>
  {% endblock %}
</div>
