{#
Display a table of organization items.

organizations - A list of organizations.

Example:

    {% snippet "organization/snippets/organization_list.html" %}

#}
{% block organization_list %}
<table class="table table-hover sortable-table" >
  <thead>
    <tr>
      <th>{{ _('Collection') }}</th>
      <th>{{ _('Full Name') }}</th>
      <th>{{ _('Samples') }}</th>
      <th>{{ _('Description') }}</th>
      <th>{{ _('Membership') }}</th>
    </tr>
  </thead>
  <tbody>
    {% block organization_list_inner %}
    {% for organization in organizations %}
      {% snippet "organization/snippets/organization_item.html", organization=organization, position=loop.index, show_capacity=show_capacity %}
    {% endfor %}
    {% endblock %}
  </tbody>
</table>
{% endblock %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('.sortable-table').DataTable();
  });
</script>
